In [21]:
import pandas as pd
import numpy as np
from scipy import integrate
import seaborn as sns
import matplotlib.pyplot as mp
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas_datareader as datareader
import datetime as datetime_module
import math
from sklearn.utils import shuffle
import warnings
warnings.filterwarnings('ignore')

### Problem Statement 1:

The data (sample) were collected in São Paulo — Brazil, in a university, where there are some parties with groups of students from 18 to 28 years of age(average). The dataset used for this activity has 7 attributes, being a Target, with a period of one year. You have to predict the quantity of beer consumption basedon the features that contain climate conditions.

##### Dataset Description:
I.Data: date of the record

II.Temperatura Media (C): Average temperature of the day in celsius

III.Temperatura Minima (C): Minimum temperature of the day in celsius

IV.TemperaturaMaxima (C): Maximum temperature of the day in celsius

V.Precipitacao (mm): Percipitation in mm

VI.Final de Semana: If the day is the weekend or not

VII.Consumo de cerveja (litros): Beer consumption in liters

Write a Python code to perform the following tasks mentioned:

1.Load the dataset, check its shape

2.Rectify the data of the first four columns Hint:Check columns 'Temperatura Media (C)', 'Temperatura Minima (C)', 'TemperaturaMaxima (C)', and 'Precipitac’Fix the following errors present in these features

3.Create new features using the 'Data' feature and the make 'Data' column as indexHint:Create a new feature 'Month' from the dates, consisting of the month of the year.Create a new feature 'Day' from the dates, consisting of the day of the week.Set values from the 'Data' column as indexes. Use code snippet:df1.set_index('Data',inplace=True)

4.Handle null and duplicate values 

5.Check the data typeof the features and convert them to the appropriate data type 

6.Analyze features with outlier values  

7.Plot and analyze the correlation 

8.Split the dataset for training and testing 

9.Train a linear regression model and print the intercept and coefficients 10.Evaluate the model using the R2 score, mean absolute error, and root mean squared error

In [22]:
data=pd.read_csv("D:\Shane\study material\CSV\Consumo_cerveja.csv")

In [25]:
data

,Date,Median_temp,Minimum_temp,Maximum_temp,Percipitation,Weekend,Consumption_in_liters
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900
...,...,...,...,...,...,...,...
936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
937,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data.rename(columns={'Data':'Date','Temperatura Media (C)':'Median_temp','Temperatura Minima (C)':'Minimum_temp','Temperatura Maxima (C)':'Maximum_temp','Precipitacao (mm)':'Percipitation','Final de Semana':'Weekend','Consumo de cerveja (litros)':'Consumption_in_liters'},inplace=True)